@font-face {
  font-family: 'Fuji-Bold';
  src: url('fonts/fuji-bold-webfont.woff');
}
@font-face {
  font-family: 'Fuji-Light';
  src: url('fonts/fuji-light-webfont.woff');
}
@font-face {
  font-family: 'PanRegular';
  src: url('fonts/pangram-black-webfont.woff');
}@font-face {
  font-family: 'PanBlack';
  src: url('fonts/pangram-regular-webfont.woff');
}@font-face {
  font-family: 'PanLight';
  src: url('fonts/pangram-extralight-webfont.woff');
}




body {
  font-family: 'PanLight';
  background-color: #f3f3f3
}



.button-nav{
  text-decoration: none;
  /* color: #858585; */
  color: black;
  font-weight: bold;
  }
  /*https://www.w3schools.com/css/css_link.asp*/
  .button-nav:hover{
    /* color: #3f3f3f; */
    color: #03B8C9;
  }
  .button-nav:focus{
    /* color: #3f3f3f; */
    color: #03B8C9;
  }
  .nav-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-bottom: 8rem;
    justify-content: space-around;
    flex-wrap: wrap;
    /* flex-grow: 1; */
    /* padding-left: 24rem;
    padding-right: 24rem; */
  }

  header h1{
    font-family: 'Fuji-Bold';
    font-size: 3.5rem;
    text-align: center;
    color: #03B8C9;
    padding-bottom: 3rem;
  }
