html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
}


/* Main Flex Content */

.maincontainer {
flex-direction: column;
flex-wrap: nowrap;
justify-content: flex-start;
display: flex;
height: auto;
width: 100%;
}

.section {
 width: auto;
 background-color: grey;
 padding: 40px;

}


#hero {
padding-top: 15%;
background-color: #03B8C9;
height: 20rem;
text-align: center;
color: white;
background-image: url("../img/herobackdrop.jpg");
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-color: #464646;
box-shadow: inset 0 0 0 1000px rgba(3, 184, 201, 0.9);



}



#about {
  display: flex;
  justify-content: space-around;
  background-color: #ebebeb;
  padding-top: 10rem;
  padding-bottom: 10rem;
  padding-left: 10rem;
  padding-right: 10rem;
  align-items: center;
}
  #about .left-side{
    box-sizing:border-box;
    flex-basis: 100%;
  }
    #about .left-side img{
      /* width: 30rem; */
    }
  #about .right-side{
    box-sizing: border-box;
    flex-basis: 100%;
  }
    #about .right-side p{
      /* width: 40rem; */
    }

#products {
  background-color: #ebebeb;
  display: flex;
  justify-content: space-around;
  padding-top: 10rem;
  padding-bottom: 10rem;
  align-items: center;
}
  #products .product-listing-elements button{
    margin-top: 3rem;
  }

#testimonial {

}

#contact {
    background-color: red;
}



@font-face {
  font-family: 'Fuji-Bold';
  src: url('fonts/fuji-bold-webfont.woff');
}
@font-face {
  font-family: 'Fuji-Light';
  src: url('fonts/fuji-light-webfont.woff');
}
@font-face {
  font-family: 'PanRegular';
  src: url('fonts/pangram-black-webfont.woff');
}@font-face {
  font-family: 'PanBlack';
  src: url('fonts/pangram-regular-webfont.woff');
}@font-face {
  font-family: 'PanLight';
  src: url('fonts/pangram-extralight-webfont.woff');
}




body {
  font-family: 'PanLight';
  background-color: #f3f3f3
}



.button-nav{
  text-decoration: none;
  /* color: #858585; */
  color: black;
  font-weight: bold;
  }
  /*https://www.w3schools.com/css/css_link.asp*/
  .button-nav:hover{
    /* color: #3f3f3f; */
    color: #03B8C9;
  }
  .button-nav:focus{
    /* color: #3f3f3f; */
    color: #03B8C9;
  }
  .nav-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-bottom: 8rem;
    justify-content: space-around;
    flex-wrap: wrap;
    /* flex-grow: 1; */
    /* padding-left: 24rem;
    padding-right: 24rem; */
  }

  .button-form{
    color: white;
    /* background-color:#3f3f3f; */
    background-color :#03B8C9;
    border: none;
    padding: 0.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 1rem;
  }
    .button-form:hover{
      /* background-color:#505050; */
      background-color: #0294A1;
      border: none;
      outline: none;
    }
    .button-form:focus{
      /* background-color:#505050; */
      background-color: #0294A1;
      border: none;
      outline: none;
    }

  .button-form-reset{
    color: white;
    background-color:#3f3f3f;
    /* background-color: #858585; */
    border: none;
    padding: 0.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 1rem;
  }
    .button-form-reset:hover{
      /* background-color:#505050; */
      background-color: #656565;
      border: none;
      outline: none;
    }
    .button-form-reset:focus{
      /* background-color:#505050; */
      background-color: #656565;
      border: none;
      outline: none;
    }

  header h1{
    font-family: 'Fuji-Bold';
    font-size: 3.5rem;
    text-align: center;
    color: #03B8C9;
    padding-bottom: 3rem;
  }


.section h1{
    font-family: 'Fuji-Bold';
}
  p{
    font-size: 1rem;
  }
  h2{
    font-size: 3rem;
    font-family: 'Fuji-Bold';
  }
