header h1{
  color: white;
  padding-top: 9rem;
  padding-bottom: 5rem;
  background-image: url("../img/herobackdrop.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
  box-shadow: inset 0 0 0 1000px rgba(3, 184, 201, 0.9);
  margin-top: 0rem;
}

#interactive_elements{
  background: white;
}
  #interactive_elements h2{
    padding-top: 10rem;
    padding-bottom: 3rem;
    color: #03B8C9;
    text-align: center;
  }
  #interactive_elements h3{
    /* padding-top: 3rem; */
  }
  #interactive_elements .link-text{
    /* background-color: #03B8C9; */
    color: black;
    /* padding: 0.5rem; */
  }
  #interactive_elements .button-nav{
    /* background-color: rgba(0, 0, 0, 0.664); */
    color: rgba(0, 0, 0, 0.664);
    font-family: 'Fuji-light';
    /* padding: 0.5rem; */
  }
    #interactive_elements .button-nav:hover{
      color: #03B8C9;
    }
    #interactive_elements img{
      width: 20%;
    }

#text_elements{
  /* background-image: url("../img/herobackdrop.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
  box-shadow: inset 0 0 0 1000px rgba(3, 184, 201, 0.9); */
}
  #text_elements h2:nth-child(1){
    /* padding-top: 10rem; */
    color: #03B8C9;
    text-align: center;
  }
  #text_elements .element:nth-child(1){
    background-color: green;
  }

#combined_elements{

}
  #combined_elements h2{
    /* padding-top: 10rem; */
    color: #03B8C9;
    text-align: center;
  }

#citations{

}
  #citations h2{
    /* padding-top: 10rem; */
    color: #03B8C9;
  }

#branding{

}
  #branding h2{
    /* padding-top: 10rem; */
    color: #03B8C9;
    text-align: center;
  }

.element{
  border: 3px solid #e0e0e0;
  padding-bottom: 3rem;
  padding-top: 1rem;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 6rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
.element-wide{
  border: 3px solid #e0e0e0;
  /* margin: 5rem; */
  margin-top: 2rem;
  margin-bottom: 6rem;
}
@media screen and (max-width: 700px) {
  .element-wide{
    border: 3px solid #e0e0e0;
    margin: 0px;
  }

}
  .element-wide h3{
    text-align: center;
    padding-top: 3rem;
  }

h1{
  font-size: 3rem;
}

h3{
  font-size: 2rem;
  font-family: 'Fuji-Bold'
}

h4{
  font-size: 1.5rem;
}

p{
  font-size: 1rem;
  font-weight: bold;
}


#combined_elements .new-button-form{
  margin-top: 2rem;
}
  #combined_elements .new-button-form a{
    background-color: #03B8C9;
    padding-right: 8.625em;
    padding-left: 8.625em;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  #combined_elements .new-button-form a:hover{
    background-color: #0294A1;
  }
#combined_elements .new-button-reset{
  margin-top: 5rem;
}
  #combined_elements .new-button-reset a{
    background-color: #01626b;
    padding-right: 7.5em;
    padding-left: 7.5em;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  #combined_elements .new-button-reset a:hover{
    background-color: #01363b;
  }

#interactive_elements .new-button-form{
  margin-bottom: 2rem;
}
  #interactive_elements .new-button-form a{
    background-color: #03B8C9;
    padding-right: 10rem;
    padding-left: 10rem;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
    #interactive_elements .new-button-form a:hover{
      background-color: #0294A1;
    }
    #interactive_elements .new-button-reset a{
      background-color: #01626b;
      padding-right: 10rem;
      padding-left: 10rem;
      font-size: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      color: white;
      text-decoration: none;
      font-weight: bold;
    }
      #interactive_elements .new-button-reset a:hover{
        background-color: #01363b;
      }
      #combined_elements .price-summary .new-button-form a{
        background-color: #03B8C9;
        padding-right: 7em;
        padding-left: 7em;
        font-size: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        color: white;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
        margin-left: 3.1rem;
      }
        #combined_elements .price-summary .new-button-form a:hover{
          background-color: #0294A1;
        }

/* product listing buttons */
.new-button-form-listing{
  margin-top: 2rem;
}
  .new-button-form-listing a{
    background-color: #03B8C9;
    padding-right: 8.625em;
    padding-left: 8.625em;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  .new-button-form-listing a:hover{
    background-color: #0294A1;
  }
.new-button-reset-listing{
  margin-top: 5rem;
}
  .new-button-reset-listing a{
    background-color: #01626b;
    padding-right: 7.5em;
    padding-left: 7.5em;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  .new-button-reset-listing a:hover{
    background-color: #01363b;
  }

  .new-button-form-cart a{
    background-color: #03B8C9;
    padding-right: 7em;
    padding-left: 7em;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    margin-left: 3.1rem;
  }
    .new-button-form-cart a:hover{
      background-color: #0294A1;
    }
